<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>EE - Courses list</title>
<link rel="icon" type="image/x-icon" href="/static/EE.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='stile-EE.css') }}" type="text/css" media="all" />
</head>

<body>
<div class = "contenitore">

	<div class = "header">
		<img id= "logo" src="{{ url_for('static', filename='EE_Logo-removebg-preview-little.png') }}"/>
		<h2 class = "dettaglio_pagina"><b>Courses catalog</b></h2>
		<a href = "homepage"><button class = "cursore1" type = "button">Homepage</button></a>
		<a href = "choose-university-student"><button class = "cursore2" type = "button">Back</button></a>
	</div>

	<div class = "principale_left">
	<div class = "sottocontenitore">
		<h3 style = "font-size: 25px">Browse {{università.nome_università}} courses!</h3>
		
		<p style = "font-size: 20px">Courses currently added in {{università.nome_università}} catalog.</p>
		
		<table class = "tabella_visualizzazione">
			<thead>
				<tr>
					<th>Course name</th>
					<th>Field of study</th>
					<th>Study level</th>
					<th>Semester</th>
					<th>Language</th>
					<th>ECTS</th>
					<th>Site link</th>
				</tr>
			</thead>
			<tbody id = "body">
				<script>
				var contatore = 0;
				</script>
				{% for corso in corsi_università %}
				<tr>
					<script>
					contatore = contatore + 1;
					</script>
					<td class = "td_visualizzazione">
					{{corso.nome_corso}}
					</td>
					<td class = "td_visualizzazione">
					{% for campo in elenco_campi %}
					{% if corso.id_campo == campo.id_campo %}
					{{campo.nome_campo}}
					{% endif %}
					{% endfor %}
					</td>
					<td class = "td_visualizzazione">
					{% for grado in elenco_gradi %}
					{% if corso.id_grado == grado.id_grado %}
					{{grado.nome_grado}}
					{% endif %}
					{% endfor %}
					</td>
					<td class = "td_visualizzazione">
					{% for semestre in elenco_semestri %}
					{% if corso.id_semestre == semestre.id_semestre %}
					{{semestre.nome_semestre}}
					{% endif %}
					{% endfor %}
					</td >
					<td class = "td_visualizzazione">
					{% for lingua in elenco_lingue %}
					{% if corso.id_lingua == lingua.id_lingua %}
					{{lingua.nome_lingua}}
					{% endif %}
					{% endfor %}
					</td>
					<td class = "td_visualizzazione">
					{{corso.ects}}
					</td>
					<td class = "td_visualizzazione">
					<a href = "{{corso.link}}" target="_blank" ><img src="{{ url_for('static', filename='website.png') }}" title="Visit course website"/></a>
					</td>
				</tr>
				{% endfor %}
				<script>
				if (contatore == 0) {
					document.getElementById("body").innerHTML = "<tr><td style = 'font-size: 23px' colspan = '8'><b>No courses in this University yet!<b></td></tr>";
				}
				</script>
			</tbody>
		</table>

	</div>
	</div>
	<img id= "founded" src="{{ url_for('static', filename='founded.png') }}"/>
</body>
</html>