<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>EE - student</title>
<link rel="icon" type="image/x-icon" href="/static/EE.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='stile-EE.css') }}" type="text/css" media="all" />
<style>
.button_university {
  position: relative;
  top: 55px;
  right: 45px;
  margin-left: 30px;
  margin-right: 30px;
}

p {
	padding-left: 45px;
	padding-right: 45px;
}
</style>
</head>

<body>
<div class = "contenitore">

	<div class = "header">
		<img id= "logo" src="{{ url_for('static', filename='EE_Logo-removebg-preview-little.png') }}"/>
		<h2 class = "dettaglio_pagina"><b>Student section</b></h2>
		<a href = "homepage"><button class = "cursore1" type = "button">Back to the homepage</button></a>
	</div>

	<div class = "principale">
		<h2 style = "font-size: 40px; padding-top: 35px; margin-top: 0px">Welcome to EE!</h2>
		<h3 style = "font-size: 35px">Your Erasmus Experience is one click away!</h3>
		<p style = "font-size: 25px">Freely surf the Universities and their courses catalogue!</p>
		<p style = "font-size: 25px">Then, simulate your LA by choosing your sending institution, your receiving institution and the courses you would like to do during your experience!</p>
		
		<a href = "choose-university-student"><button class = "button button_university" type = "button">Browse Universities and courses</button></a>
		<a href = "LA"><button class = "button button_university" type = "button">Simulate your LA</button></a>
	</div>
	
</div>
<img id= "founded" src="{{ url_for('static', filename='founded.png') }}"/>
</body>
</html>